body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
    border: 1px solid #9a9a9a;
    padding: 1.5rem;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.currency-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &:not(:last-of-type) {
        padding-bottom: 1.5rem;
    }

    &__title {
        margin-bottom: 0.75rem;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.3rem;
        flex-basis: 30%;
        margin: 0.25rem;
        color: #0b0b49;
        background: #f2f2f2;
        border: 1px solid grey;

        &:not(.is-active) {
            cursor: pointer;
        }

        &:not(.is-active):hover {
            background-color: transparent;
        }

        &.is-active {
            justify-content: center;
            border: none;
            text-align: center;
            font-size: 0.9rem;
            padding: 0.4rem 0.3rem;
            color: black;
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem;
        font-size: 0.7rem;
        border: 1.5px solid black;
        z-index: 10;
        cursor: pointer;
        filter: invert(1);

        &:hover {
            filter: unset;
        }
    }
}
